.project-header {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #282c34;
  display: flex;
  justify-content: center;
}

.project-header h2 {
  margin: 8px 0 10px 0;
}

.project-container {
  width: 100%;
  background-color: #191b1e;
}

.project-container > div {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

.project-card {
  color: black;
  width: 50%; 
}

@media screen and (max-width: 700px) {
  .project-card {
    width: 100%; 
  }
}

.project-card-inner {
  background-color: #eee;
  margin: 10px;
  border-radius: 15px;
  height: 450px;
  padding: 15px;
}

.project-card-preview {
  color: white;
  width: 100%;
  display: flex;
  background-color: #191b1e;
}

.project-card-preview img{
  width: 100%;
}

.project-card-preview > div {
  height: fit-content;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
}

.project-tags img {
  height: 100%;
}

.project-tags > .tag {
  margin: 5px 5px 0 0;
  height: 20px;
  display: flex;
  padding: 3px 7px;
  border-radius: 10px;
}

.project-tags > .typescript {
  background-color: aquamarine;
}

.project-tags > .react {
  background-color: cadetblue;
}

.project-tags > .undef {
  background-color: peachpuff;
}
