#root {
  max-width: 1000px;
  margin: 0 auto;
}

.App {
  color: white;
  width: 100%;
  height: 100%;
}

.info {
  position: fixed;
  background: rgba(0, 0, 0, 0.73);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms, visibility 500ms 1ms;
  padding: 50px;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.project-card-large {
  max-width: 800px;
  background-color: #eee;
  height: 100%;
  margin: 0 auto;
}
